.navbar-body { 
 
  display: grid;
  grid-template-rows: 4vh;
  grid-template-columns: 80% 20% ;
  grid-template-rows: 1fr;
  align-items: center;
  justify-self: flex-end;
  margin: 0;
  width: 100vw;
  color: rgba(
    12.085939273238182,
    34.87655773758888,
    69.0625025331974,
    0.6299999952316284
  );
  grid-column: 2/2;
  /*padding-right: 1.2em;*/
  /*padding: 0.8em;
  font-family: Montserrat;
  font-size: 1.6vh;
  letter-spacing: 0;
  left: 80vw;
  top: 0px;
  height: 20px;
  width: 280px;
  position: fixed;*/
}

#navbar-content{ 
  padding: 0.8em; 
  align-items: center;
  letter-spacing: 0;
  display: grid;
  grid-column: 2/2;
  grid-template-columns: 30% 10% 60%;
  font-family: Montserrat;
  font-size: 2vh;
}

@media (min-width: 992px)  {
  .navbar-body { 
    display: grid;
    grid-template-rows: 4vh;
    grid-template-columns: 70% 30% ;
    grid-template-rows: 1fr;
    align-items: center;
    justify-self: flex-end;
    margin: 0;
    width: 100vw;
    color: rgba(
      12.085939273238182,
      34.87655773758888,
      69.0625025331974,
      0.6299999952316284
    );
    grid-column: 2/2;
    /*padding-right: 1.2em;*/
    /*padding: 0.8em;
    font-family: Montserrat;
    font-size: 1.6vh;
    letter-spacing: 0;
    left: 80vw;
    top: 0px;
    height: 20px;
    width: 280px;
    position: fixed;*/
  }
}

@media (min-width: 576px) and (max-width: 768px) {
  .navbar-body {
 
    display: grid;
    grid-template-rows: 4vh;
    grid-template-columns: 50% 50% ;
    grid-template-rows: 1fr;
    align-items: center;
    justify-self: flex-end;
    margin: 0;
    width: 100vw;
    color: rgba(
      12.085939273238182,
      34.87655773758888,
      69.0625025331974,
      0.6299999952316284
    );
    grid-column: 2/2;

  }
}


@media (min-width: 767px) and (max-width: 991px) {
  .navbar-body {
 
    display: grid;
    grid-template-rows: 4vh;
    grid-template-columns: 60% 40% ;
    grid-template-rows: 1fr;
    align-items: center;
    justify-self: flex-end;
    margin: 0;
    width: 100vw;
    color: rgba(
      12.085939273238182,
      34.87655773758888,
      69.0625025331974,
      0.6299999952316284
    );
    grid-column: 2/2;

  }
}


@media (max-width: 575px) {
  .navbar-body {
 
    display: grid;
    grid-template-rows: 4vh;
    grid-template-columns: 10% 90% ;
    grid-template-rows: 1fr;
    align-items: center;
    justify-self: flex-end;
    margin: 0;
    width: 100vw;
    color: rgba(
      12.085939273238182,
      34.87655773758888,
      69.0625025331974,
      0.6299999952316284
    );
    grid-column: 2/2;

  }
}