.make_transparent{
    color: transparent;
    display: none;
}
.make_bold{
    font-size: 12px!important;
}
.just_blue{
    font-weight: bold!important;  
    color: #76a1e1;
}
#sidebar-container{
    background-color: rgba(155, 28, 28, 0.34);
}