.e2215_678 {
  color: rgba(
    12.085939273238182,
    34.87655773758888,
    69.0625025331974,
    0.6299999952316284
  );
  /*width: 425px;*/
  /* height: 50px; */
/*  position: absolute;
  left: 395px;
  top: 241px;*/
  font-family: Montserrat;
  text-align: left;
  font-size: 16px;
  letter-spacing: 0;
}
.e2215_677 {
  color: rgba(12.085939273238182, 34.87655773758888, 69.0625025331974, 1);
  /*width: 512px;
  height: 138px;
  /*position: absolute;
  left: 395px;
  top: 139px;*/
  font-family: Prata;
  text-align: rigth;
  font-size: 33.869998931884766px;
  letter-spacing: 0;
}
.e2215_686 {
  color: rgba(26.296868920326233, 92.27809399366379, 191.25, 1);

  /*position: absolute;
  left: 421px;
  top: 130px;*/
  font-family: Montserrat;
  text-align: left;
  font-size: 12px;
  letter-spacing: 0;
}

#company_name {
  /*width: 537px;*/
  height: 66px;
 /* position: absolute;*/
  
}

#first_shareholder_name{
  /* width: 537px; */
  height: 66px;
 /* position: absolute;*/
  left: 397px;
  top: 338px;
}
#created {
  text-align: justify;
  /* width: 537px; */
  height: 158px;
  /* position: absolute; */
  left: 397px;
  top: 338px;
  padding-top: 20px;
}

#company_sitz {
 /* width: 537px;*/
  height: 66px;
  /*position: absolute;
  left: 397px;
  top: 430px;  */
  
}
.e2215_715 {
  color: rgba(26.296868920326233, 92.27809399366379, 191.25, 1);
  width: 50px;
  height: 18px;
  position: absolute;
  left: 410px;
  top: 346px;
  font-family: Montserrat;
  text-align: left;
  font-size: 12px;
  letter-spacing: 0;
}
.inputContainer {
  width:200px;
}
.inputContainer input {
  color: black;
  width:200px;
  padding-top:15px;
  height:25px;
  border:1px solid black;
  border-radius:5px
}
.form-group>label {
  position: absolute;
  top: 6px;
  left: 20px;
  padding: 5px 10px;
  border-radius: 15px;
  background: #fff;
}

.custom_badge {
  width:80px;
  height:30px;

  margin-top: -15px;
  border-radius:12px;
  -webkit-border-radius:12px;
  background:#708090;
  color:white;
  text-align:center;
  vertical-align:bottom;
  font-size:14px;
  font-style: normal;
  font-weight: 400;
  font-family: arial,sans-serif;
  margin-left: 10px;
  padding-top:3px;
  color: red;
}
.custom_input {
  border: none !important;
  border:solid 1px #708090 !important;
  border-radius:12px !important;
  -webkit-border-radius:12px !important;
  width:350px !important;
  text-align: end !important;
  color:#54606C !important;
}

.e2215_717 {
  color: rgba(
    12.085939273238182,
    34.87655773758888,
    69.0625025331974,
    0.4099999964237213
  );
  width: 36px;
  height: 21px;
  position: absolute;
  left: 410px;
  top: 435px;
  font-family: Montserrat;
  text-align: left;
  font-size: 14px;
  letter-spacing: 0;
}
.e2215_713 {
  color: rgba(26.296868920326233, 92.27809399366379, 191.25, 1);

  /*position: absolute;*/

  font-family: Montserrat;
  text-align: center;
  font-size: 13px;
  letter-spacing: 0;
}
.e2215_712 {
  color: rgba(255, 255, 255, 1);
  background-color: transparent;
  border-color: transparent;
  width: 115px;
  height: 16px;
  position: absolute;
  left: 419px;
  top: 587px;
  font-family: Montserrat;
  text-align: center;
  font-size: 13px;
  letter-spacing: 0;
}
.e2215_716 {
  background-color: rgba(255, 255, 255, 1);
  width: 537px;
  height: 66px;
  position: absolute;
  left: 397px;
  top: 430px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}
.e2215_711 {
  color: white;
  font-family: Montserrat;
  text-align: center;
  font-size: 13px;
  letter-spacing: 0;
  background-color: rgba(26.296868920326233, 92.27809399366379, 191.25, 1);

  height: 53px;
  /*position: absolute;*/
  left: 397px;
  top: 570px;
  border-color: transparent;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

.e2215_721 {
  color: rgba(
    12.085939273238182,
    34.87655773758888,
    69.0625025331974,
    0.6299999952316284
  );

  /*position: absolute;*/
  left: 1103px;
  top: 268px;
  font-family: Montserrat;
  text-align: left;
  font-size: 14px;
  letter-spacing: 0;
}

.e2215_718 {
  background-color: rgba(
    247.00000047683716,
    245.00000059604645,
    242.00000077486038,
    1
  );
  /*width: 307px;*/
  
  /*position: absolute;*/

  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}
.e2215_720 {
  color: rgba(12.085939273238182, 34.87655773758888, 69.0625025331974, 1);
  /*width: 97px;*/
  /* height: 27px; */
  /*position: absolute;*/

  font-family: Prata;
  text-align: left;
  font-size: 20px;
  letter-spacing: 0;
}
.e2215_722 {
  width: 20px;
  height: 20px;
  position: absolute;
  left: 1110px;
  top: 220px;
  background-image: url(images/help_1.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.alert_message_001 {
  left: 422px;
  top: 509px;
  /*position: absolute;*/
  color: red;
  background-repeat: no-repeat;
  background-size: cover;
}
#number_of_shareholders {
  /* left: 385px;
  top: 338px; */
  /* position: absolute; */
  /* width: 537px; */
  height: 66;
   padding: 15px;
  font-size: 15px; 
}
.e2215_717_Wohnort {
  color: rgba(
    12.085939273238182,
    34.87655773758888,
    69.0625025331974,
    0.4099999964237213
  );
  /* width: 36px; */
  height: 21px;
  position: absolute;
  left: 410px;
  top: 500px;
  font-family: Montserrat;
  text-align: left;
  font-size: 14px;
  letter-spacing: 0;
}
#first_shareholder_residence {
  /* width: 537px; */
  height: 66px;
  /* position: absolute; */
  left: 397px;
  top: 495px;
}
#first_shareholder_birthday {
  /* width: 537px; */
  height: 66px;
  /* position: absolute; */
  left: 397px;
  top: 416px;
}
.e2215_717_Geburtsdatum {
  color: rgba(
    12.085939273238182,
    34.87655773758888,
    69.0625025331974,
    0.4099999964237213
  );
  width: 36px;
  height: 21px;
  position: absolute;
  left: 410px;
  top: 416px;
  font-family: Montserrat;
  text-align: left;
  font-size: 14px;
  letter-spacing: 0;
}

.e2215_718_big {
  background-color: rgba(
    247.00000047683716,
    245.00000059604645,
    242.00000077486038,
    1
  );
  width: 307px;
  height: 471px;
  position: absolute;
  left: 1071px;
  top: 190px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}
.e2215_720_funnel_7 {
  color: rgba(12.085939273238182, 34.87655773758888, 69.0625025331974, 1);
  width: 200px;
  height: 27px;
  position: absolute;
  left: 1150px;
  top: 218px;
  font-family: Prata;
  text-align: left;
  font-size: 20px;
  letter-spacing: 0;
}
.input-need-validation{
	border-color: red!important;
	border-width: 3px!important;
	box-shadow: none!important;
}
#second_shareholder_name{
  width: 537px;
  height: 66px;
  position: absolute;
  left: 397px;
  top: 338px;
}
#second_shareholder_residence {
  width: 537px;
  height: 66px;
  position: absolute;
  left: 397px;
  top: 495px;
}
#second_shareholder_birthday {
  width: 537px;
  height: 66px;
  position: absolute;
  left: 397px;
  top: 416px;
}

#Gesellschaftskapital {
  /* width: 537px; */
  height: 66px;
  /* position: absolute; */
  left: 397px;
  top: 338px;
}
#first_anteil {
  /* width: 537px; */
  height: 66px;
  /* position: absolute; */
  left: 397px;
  top: 338px;
}
#second_anteil {
  width: 537px;
  height: 66px;
  position: absolute;
  left: 397px;
  top: 338px;
}
#Beschlussfähigkeit_prozent{
  width: 537px;
  height: 66px;
  position: absolute;
  left: 397px;
  top: 338px;
}
#Mehrheitsverhältnisse_prozent{
  width: 537px;
  height: 66px;
  position: absolute;
  left: 397px;
  top: 338px;
}
.e2215_721002 {
  color: rgba(
    12.085939273238182,
    34.87655773758888,
    69.0625025331974,
    0.6299999952316284
  );
  width: 244px;
  height: 400px;
  /*position: absolute;*/
  left: 1103px;
  top: 268px;
  font-family: Montserrat;
  text-align: left;
  font-size: 14px;
  letter-spacing: 0;
}
.e2215_718003 {
  background-color: rgba(
    247.00000047683716,
    245.00000059604645,
    242.00000077486038,
    1
  );
  width: 307px;
  height: 500px;
  position: absolute;
  left: 1071px;
  top: 190px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}
#form-001{
  display: grid;
  grid-template-rows: 1fr 1fr 1.5fr 1.5fr 2fr 1fr 1fr 1fr;

}
#form-002{
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 4fr 1fr ;

}
#form-003{
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 4fr 1fr ;

}
#form-004{
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 4fr 1fr ;

}

#help-content{
  display: grid;
  grid-template-rows: 1fr 8fr;


}
#form-v1{
  display: grid;
  grid-template-rows: 1fr 2fr 1fr 4fr 1fr ;
}
#form-v0010{
  display: grid;
  grid-template-rows: 1fr 3fr  4fr 1fr  ;
}